---
import data from "./Header.json";
import Button from "../components/Button.astro";
import Linkedin from "../components/svgl-icons/Linkedin.astro";
import Github from "../components/svgl-icons/Github.astro";
import Email from "../components/heroicons/Email.astro";
---

<main class="mt-32 mb-20 flex flex-col gap-3">
  <picture class="flex gap-4">
    <div class="absolute -z-0 scale-75 rounded-full aspect-square w-20">
      <img
        src={data.profile_url}
        width="250px"
        height="250px"
        class="blur-xl"
        alt={data.profile_alt}
      />
    </div>
    <div
      class="border-2 border-white/70 rounded-full z-10 aspect-square w-20 overflow-hidden"
    >
      <img
        src={data.profile_url}
        width="250px"
        height="250px"
        alt={data.profile_alt}
      />
    </div>
    <span class="sr-only">Mi perfil en GitHub</span>
    <span
      class="self-end px-2 border-2 rounded-full border-green-600 text-green-400"
      >{data.job_status}</span
    >
  </picture>

  <h1 class="text-5xl font-bold tracking-tight">
    {data.title}
  </h1>
  <h2 class="text-lg font-light text-zinc-400 text-balance">
    {data.description}
  </h2>
  <div class="flex gap-4 dark:text-zinc-400">
    <Button>
      <div slot="icon"><Linkedin className="w-6 h-6" /></div>
      <a href="https://www.linkedin.com/in/maikol-aguilar/" target="_blank"
        >Contacto</a
      >
    </Button>
    <Button>
      <div slot="icon"><Github className="w-6 h-6" /></div>
      <a href="https://github.com/maikCyphlock" target="_blank">GitHub</a>
    </Button>
    <Button>
      <div slot="icon"><Email className="w-6 h-6 " /></div>
      <a href="mailto:maikoljob30@gmail.com" target="_blank">Correo</a>
    </Button>
  </div>
</main>
