---
const { language } = Astro.props;
import data from "./Header.json";
import Button from "../components/Button.astro";
import Linkedin from "../components/svgl-icons/Linkedin.astro";
import Github from "../components/svgl-icons/Github.astro";
import Email from "../components/heroicons/Email.astro";
---

<main class="mt-32 mb-20 flex flex-col gap-3">
  <picture class="flex gap-4">
    <div
      class="absolute flex items-center -z-0 scale-75 rounded-full aspect-square h-20 w-20"
    >
      <img
        src={data[language].profile_url}
        width="250px"
        height="250px"
        class="blur-xl"
        alt={data[language].profile_alt}
      />
    </div>
    <div
      class="border-2 border-white/70 rounded-full z-10 w-20 overflow-hidden"
    >
      <img
        src={data[language].profile_url}
        width="250px"
        height="250px"
        alt={data[language].profile_alt}
      />
    </div>
    <div class="self-center">
      <span class="text-xl lg:text-2xl font-bold flex items-center"
        >Maikol Aguilar</span
      >
      <span
        class="text-lg font-normal flex items-center text-zinc-500 text-balance"
      >
        Full-stack Dev, Maker, Dreamer</span
      >
    </div>
    <span class="sr-only">Mi perfil en GitHub</span>
  </picture>

  <h1 class="text-4xl lg:text-5xl font-extrabold tracking-tight text-balance">
    {data[language].description}
  </h1>

  <div class="flex flex-wrap gap-4 items-center dark:text-zinc-400">
    <Button>
      <div slot="icon"><Linkedin className="w-6 h-6" /></div>
      <a href="https://www.linkedin.com/in/maikol-aguilar/" target="_blank"
        >Contact</a
      >
    </Button>
    <Button>
      <div slot="icon"><Github className="w-6 h-6" /></div>
      <a href="https://github.com/maikCyphlock" target="_blank">GitHub</a>
    </Button>
    <Button>
      <div slot="icon"><Email className="w-6 h-6 " /></div>
      <a href="mailto:maikoljob30@gmail.com" target="_blank">Email</a>
    </Button>
    <span
      class="self-center px-2 border-2 rounded-full border-green-600 text-green-400"
      >{data[language].job_status}</span
    >
  </div>
</main>
