---
import data from "./Projects.json";
import { Briefcase } from "lucide-astro";
import Link from "../components/heroicons/Link.astro";
---

<section class="my-40 flex gap-4 flex-col animate-fade-up" id="projects">
  <div class="flex gap-2 items-center mb-8">
    <Briefcase class="text-zinc-300" />
    <h2 class="text-3xl font-thin text-zinc-300">Proyectos</h2>
  </div>

  {
    data.map((item) => (
      <div class="flex flex-col gap-3 mb-10">
        <h3 class="text-2xl text-zinc-300 font-bold">{item.project_title}</h3>
        <div class="flex gap-4 text-zinc-400 border-blue-200">
          <a
            class="underline flex items-center gap-1"
            target="_blank"
            href={item.project_url_demo}
          >
            <Link className="w-4" />
            demo
          </a>
          <a
            class="underline flex items-center gap-1"
            target="_blank"
            href={item.project_url_github}
          >
            <Link className="w-4" />
            github
          </a>
        </div>
        <p class="text-lg text-zinc-400 text-pretty">
          {item.project_description}
        </p>
        <div class="flex flex-wrap gap-2">
          {item.project_stack.map((stack) => (
            <span class="text-zinc-400 border-zinc-800 text-xs border  rounded-lg px-2 py-1 flex gap-2 ">
              {stack}
            </span>
          ))}
        </div>
        <div class="w-full rounded-xl aspect-video overflow-hidden">
          <img src={item.project_img} alt={item.project_title} />
        </div>
      </div>
    ))
  }
</section>

<style>
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #projects {
    view-timeline-name: --project;
    view-timeline-axis: block;
    animation-timeline: --project;
    animation-name: show;
    animation-range: entry 5% cover 20%;
  }
</style>
